.header {
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 1rem 0;
  background-color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    .nav__logo {
      max-width: 150px;
      @media (max-width: 600px) {
        max-width: 120px;
      }
    }
  }

  &__burger {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    .header__link {
      font-size: 18px;
      text-decoration: none;
      color: #333;
      font-weight: 500;

      &:hover {
        color: rgb(1, 84, 223);
      }
    }

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 950px) {
      margin-right: 2rem;
    }
    @media (max-width: 770px) {
      margin-right: 3rem;
    }

    .header__lang {
      font-size: 0.9rem;
    }

    .header__profile {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #ccc;
    }
    .header__auth {
      display: flex;
      gap: 1rem;

      @media (max-width: 950px) {
        display: none;
      }

      .burger__link {
        padding: 10px;
        color: #333;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid #0056b3;
        border-radius: 5px;
        transition: color 0.3s ease, border-color 0.3s ease;

        &:hover {
          color: rgb(1, 84, 223);
          border-color: #007bff;
        }
      }
    }
  }
}

.header__lang-dropdown {
  position: relative;
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #333;
  }

  .lang__menu {
    position: absolute;
    top: 120%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    li {
      padding: 8px 12px;
      cursor: pointer;
      white-space: nowrap;
      // transition: background 0.2s;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
