.bm-overlay {
  z-index: 9999;
  top: 0;
}

.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 22px;
  right: 20px;
  top: 35px;

  @media (min-width: 950px) {
    display: none;
  }
}

.bm-burger-bars {
  background: #333;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 20px !important;
  top: 35px !important;
}

.bm-cross {
  background: #000;
}

.bm-menu-wrap {
  top: 0;
}

.bm-menu {
  background: #fff;
  padding: 5em 1.5em 0;
  font-size: 18px;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  border-bottom: 1px solid #0056b3;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding-bottom: 4px;
}

.menu-item:hover {
  color: #007bff;
}

.menu-auth {
  margin-top: 2rem;
  display: flex !important;
  gap: 15px;
}

.burger-link {
  padding: 10px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #0056b3;
  border-radius: 5px;
  transition: color 0.3s ease, border-color 0.3s ease;

  &:hover {
    color: #007bff;
    border-color: #007bff;
  }
}
