.footer {
  background-color: #f1f1f1;
  padding: 2rem 1rem;
  border-top: 1px solid #ddd;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__logo img {
    max-width: 120px;

    @media (max-width: 768px) {
      width: 100px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    p {
      font-size: 20px;
      color: #0056b3;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    a {
      font-size: 15px;
      text-decoration: none;
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    p {
      font-size: 20px;
      color: #0056b3;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &Item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 15px;
      color: #333;

      svg {
        color: #0056b3;
      }
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
      color: #0056b3;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .footer__icons {
      display: flex;
      gap: 1rem;

      a {
        font-size: 1.5rem;
        color: #333;
        transition: color 0.3s;

        &:hover {
          color: #0056b3;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__qrcode {
    img {
      width: 100px;
      height: 100px;
    }
  }
}
